#container{
    border: 1px solid;
    height:500px;
}
#chores{
    height: 90%;
}
#input{
    height: 20%;
    font-size: larger;

    input{
        font-size: larger;
    }
    button{
        font-size: larger;
    }
} 

.item{
    padding:10px;
    font-size: larger;
}